In [15]:
import pandas as pd
from database_connection import create_connection as create_con
from dataframe_conversion import load_data_into_dataframe
import lookups
from createstatement import create_table_from_df
from database_connection import try_connection
import json

data = [
    {'Name': 'Alice', 'Age': 25},
    {'Name': 'Bob', 'Age': 30},
    {'Name': 'Charlie', 'Age': 35}
]#testing a dummay df

# Create a DataFrame from the data
df = pd.DataFrame(data)

In [16]:
try_connection()

In [17]:

# columns =','.join(df.columns)
# for index, row in df.iterrows():
#     values_list=[]
#     for val in row.values:
#         if pd.isna(val):
#             values_list.append("NULL")
#         elif isinstance(val,str):
#             values_list.append(f"'{val}'")
#         else:
#             values_list.append(str(val))

#     values=','.join(values_list)
#     insert_statement=f"INSERT INTO test_schema.table ({columns}) VALUES ({values});"

In [18]:


table_name = 'dummy'
schema = 'public'
for _, row in df.iterrows():
    values = ', '.join([f"'{val}'" if isinstance(val, str) else 'NULL' if pd.isna(val) else str(val) for val in row])
    print(f"INSERT INTO {schema}.{table_name} ({', '.join(df.columns)}) VALUES ({values});")

INSERT INTO public.dummy (Name, Age) VALUES ('Alice', 25);
INSERT INTO public.dummy (Name, Age) VALUES ('Bob', 30);
INSERT INTO public.dummy (Name, Age) VALUES ('Charlie', 35);

In [19]:

data = [
    {'Name': 'Alice', 'Age': 25},
    {'Name': 'Bob', 'Age': 30},
    {'Name': 'Charlie', 'Age': 35}
]

# Define the file path for the JSON file
file_path = 'example.json'

# Write the data to the JSON file
with open(file_path, 'w') as json_file:
    json.dump(data, json_file)

# Now you have created the 'example.json' file with the data.
# You can use it in your code as previously shown.

file_path = 'example.json'
file_type = 'json'

json_df = load_data_into_dataframe(file_path, file_type)

# Print the DataFrame
print("DataFrame from JSON:")
print(json_df)

# Load data from the API
api_url = 'https://jsonplaceholder.typicode.com/posts'
api_df = load_data_into_dataframe(api_url, 'api')

# Print the DataFrame from the API
print("\nDataFrame from API:")
print(api_df)

api_url = 'https://jsonplaceholder.typicode.com/posts'
api_df = load_data_into_dataframe(api_url, 'api')
print(api_df)

DataFrame from JSON:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

DataFrame from API:
    userId   id                                              title  \
0        1    1  sunt aut facere repellat provident occaecati e...
1        1    2                                       qui est esse
2        1    3  ea molestias quasi exercitationem repellat qui...
3        1    4                               eum et est occaecati
4        1    5                                 nesciunt quas odio
..     ...  ...                                                ...
95      10   96  quaerat velit veniam amet cupiditate aut numqu...
96      10   97         quas fugiat ut perspiciatis vero provident
97      10   98                        laboriosam dolor voluptates
98      10   99  temporibus sit alias delectus eligendi possimu...
99      10  100              at nam consequatur ea labore ea harum

                                                 body
0   quia et suscipit\nsuscipit recusandae consequu...
1   est rerum tempore vitae\nsequi sint nihil repr...
2   et iusto sed quo iure\nvoluptatem occaecati om...
3   ullam et saepe reiciendis voluptatem adipisci\...
4   repudiandae veniam quaerat sunt sed\nalias aut...
..                                                ...
95  in non odio excepturi sint eum\nlabore volupta...
96  eum non blanditiis soluta porro quibusdam volu...
97  doloremque ex facilis sit sint culpa\nsoluta a...
98  quo deleniti praesentium dicta non quod\naut e...
99  cupiditate quo est a modi nesciunt soluta\nips...

[100 rows x 4 columns]
    userId   id                                              title  \
0        1    1  sunt aut facere repellat provident occaecati e...
1        1    2                                       qui est esse
2        1    3  ea molestias quasi exercitationem repellat qui...
3        1    4                               eum et est occaecati
4        1    5                                 nesciunt quas odio
..     ...  ...                                                ...
95      10   96  quaerat velit veniam amet cupiditate aut numqu...
96      10   97         quas fugiat ut perspiciatis vero provident
97      10   98                        laboriosam dolor voluptates
98      10   99  temporibus sit alias delectus eligendi possimu...
99      10  100              at nam consequatur ea labore ea harum

                                                 body
0   quia et suscipit\nsuscipit recusandae consequu...
1   est rerum tempore vitae\nsequi sint nihil repr...
2   et iusto sed quo iure\nvoluptatem occaecati om...
3   ullam et saepe reiciendis voluptatem adipisci\...
4   repudiandae veniam quaerat sunt sed\nalias aut...
..                                                ...
95  in non odio excepturi sint eum\nlabore volupta...
96  eum non blanditiis soluta porro quibusdam volu...
97  doloremque ex facilis sit sint culpa\nsoluta a...
98  quo deleniti praesentium dicta non quod\naut e...
99  cupiditate quo est a modi nesciunt soluta\nips...

[100 rows x 4 columns]